#cell {
    display: grid;
    grid-template-columns: repeat(14, 45px);
    grid-template-rows: repeat(14, 45px);
    border: 2px solid black; /*The problematic border since I added all to the cell div*/
    box-sizing: border-box;
    width: fit-content;
    position: relative;
}

#cell > div {
    height: 45px;
    width: 45px;
    border: 1px black;
}

.white-cell {
    background-color: lightgoldenrodyellow;
}

.black-cell {
    background-color: green;
}

.cutout {
    background-color: transparent;
    border: none;
}
