#cell {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 1fr);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#cell > div {
    height: 100%;
    width: 100%;
    /* box-sizing: border-box; */
}

img {
    height: 100%;
    width: 100%;
    display: block;
}

.white-cell {
    background-color: #fff2ccd3;
}

.black-cell {
    background-color: #cf7f1dac;
}

.cutout {
    background-color: #f2f2f2;
}
/* TODO: implement server-sided fog of war. */
/* TODO: If we have time, change the highlight color based on the player's turn */
.highlight {
    background-color: rgba(144, 238, 144, 0.7);
    border: 2px solid rgba(60, 179, 113, 1);
    box-shadow: 0 0 10px rgba(60, 179, 113, 0.8), 0 0 20px rgba(144, 238, 144, 0.6);
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.fog {
    position: relative;
}

.fog::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.8;
    z-index: 1;
}

.fog img {
    visibility: hidden;
}